@import url('https://fonts.googleapis.com/css2?family=Merriweather');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
    height: 100%;
    @apply text-black bg-white;
  }
  
  button,
  input,
  select,
  textarea {
    margin: 0;
  }
  
  html,
  body,
  p,
  ol,
  ul,
  li,
  dl,
  dt,
  dd,
  blockquote,
  figure,
  fieldset,
  legend,
  textarea,
  pre,
  iframe,
  hr,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  
  /* Sidebar transition effect */
  
  #__next {
    /* Hide sidebar */
    z-index: 2;
    /* Make sure that background is white to hide body background (and sidebar) */
    background: #fff;
    transition: right 0.2s ease-in,
    transform .8s cubic-bezier(.2,1,.3,1);
    /* Set the transform origin to scale content when open sidebar */
    transform-origin: right;
    height: 100vh !important;
    overflow-x: hidden;
  }
  
  /* Make sure to have 100% height */
  html,
  body,
  body > div:first-child,
  div#__next {
    height: auto;
    position: relative;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    @apply scroll-smooth;
  }
  
  textarea:focus, input:focus {
    outline: none;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transition: transform 0.5s cubic-bezier(.52,.01,.16,1);
    @apply bg-electricViolet;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
}

@layer utilities {
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .sidebar-link {
    @apply text-xl first-letter:uppercase font-light hover-underline-animation;
  }
  
  .sidebar-li {
    @apply mb-4;
  }
  
  .sm-header {
    @apply text-sm text-electricViolet tracking-wide first-letter:uppercase;
  }
  
  .lg-header {
    @apply text-lg font-bold text-black tracking-widest first-letter:uppercase;
  }
  
  .sm-text {
    @apply text-sm text-black first-letter:uppercase;
  }
  
  .mt-s {
    @apply mt-16;
  }
  
  .height {
    @apply md:h-[500px] h-screen;
  }
  
  .scale-transition {
    transition: all 0.45s cubic-bezier(.15,.2,.1,1);
  }
  
  .top-transition {
    transition: top 0.70s cubic-bezier(.15,.2,.1,1);
  }
  .background-transition {
    transition: background-color 0.20s cubic-bezier(.15,.2,.1,1);
  }
}
