@import url('https://fonts.googleapis.com/css2?family=Merriweather');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
    height: 100%;
    @apply text-black bg-white;
  }
  
  button,
  input,
  select,
  textarea {
    margin: 0;
  }
  
  html,
  body,
  p,
  ol,
  ul,
  li,
  dl,
  dt,
  dd,
  blockquote,
  figure,
  fieldset,
  legend,
  textarea,
  pre,
  iframe,
  hr,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  
  /* Sidebar transition effect */
  
  #__next {
    transition: left 0.2s ease-in,
    transform 0.2s ease-in;
    /* Set the transform origin to scale content when open sidebar */
    transform-origin: 0 10%;
    overflow-x: hidden;
  }
  
  /* Make sure to have 100% height */
  html,
  body,
  body > div:first-child,
  div#__next {
    height: auto;
    position: relative;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    @apply scroll-smooth;
  }
  
  textarea:focus, input:focus {
    outline: none;
  }
}

@layer utilities {
  .sm-header {
    @apply text-sm text-electricViolet tracking-wide first-letter:uppercase;
  }
  
  .lg-header {
    @apply text-lg font-bold text-black tracking-widest first-letter:uppercase;
  }
  
  .sm-text {
    @apply text-sm text-black first-letter:uppercase;
  }
  
  .mt-s {
    @apply mt-16;
  }
  
  .height {
    @apply md:h-[500px] h-screen;
  }
}
